<style>
    div{
      background-color: darkcyan;
      border-width: 5px;
      border-color: black;
      border-style: solid;
      padding: 10px;
    }
    ul{
      background-color: darkcyan;
    }
    li{
      background-color: darkcyan;
    }
    a{
      background-color: darkcyan;
    }
    h3{
      color: #1C7C28;
    }
    
  </style>

*{
  background-color: #2C2C32;
  color: #C0C0D6;
}

a{
 color: #165E1F;
}


